# netbeans temp & private files
target/
release.properties
nbactions.xml
# MacOS X Files
.DS_Store
._.DS_Store
._.
Desktop DB
Desktop DF
.hotfiles.btree
*.orig
*~
*.bak
*.NavData
*.rej
*.conflict
# Eclipse Files
.project
.classpath
.settings
# idea files
*.iml
.idea
# ui
scm-ui/build
scm-ui/coverage
node_modules
# jrebel
rebel.xml
*.pyc

# vagrant
.vagrant


.gradle
**/build
