# since v1.16.20 the @ConstructorProperties is no longer added to constructors,
# but this annotation seem to be used by Jackson.
# Not sure if this is realy required, but without sonia.scm.api.rest.JSONContextResolverTest breaks
lombok.anyConstructor.addConstructorProperties = true
lombok.addLombokGeneratedAnnotation = true
