<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
  
  <!-- subscribers -->
  <subscriber>
    <class>java.lang.Long</class>
    <event>java.lang.Integer</event>
  </subscriber>

  <subscriber>
    <class>java.lang.Double</class>
    <event>java.lang.Float</event>
  </subscriber>

  <!-- events -->

  <event>
    <class>java.lang.String</class>
  </event>

  <event>
    <class>java.lang.Boolean</class>
  </event>

  <!-- extension points -->

  <extension-point>
    <class>java.lang.String</class>
  </extension-point>

  <extension-point>
    <class>java.lang.Integer</class>
    <multi>false</multi>
  </extension-point>

  <extension-point>
    <class>java.lang.Long</class>
    <multi>true</multi>
  </extension-point>

  <!-- extensions -->

  <extension>
    <class>java.lang.String</class>
  </extension>

  <extension>
    <class>java.lang.Integer</class>
  </extension>
  
  <!-- rest providers -->
  
  <rest-provider>
    <class>java.lang.Integer</class>
  </rest-provider>
  
  <rest-provider>
    <class>java.lang.Long</class>
  </rest-provider>
  
  <!-- jax-rs resources -->
  
  <rest-resource>
    <class>java.lang.Float</class>
  </rest-resource>
  
  <rest-resource>
    <class>java.lang.Double</class>
  </rest-resource>

</module>
