<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<scm-config>
    <admin-groups>admins,vogons</admin-groups>
    <admin-users>arthur,dent</admin-users>
    <base-url>http://localhost:8081/scm</base-url>
    <enableProxy>false</enableProxy>
    <force-base-url>false</force-base-url>
    <forwardPort>80</forwardPort>
    <plugin-url>http://plugins.scm-manager.org/scm-plugin-backend/api/{version}/plugins?os={os}&amp;arch={arch}&amp;snapshot=false</plugin-url>
    <proxyPort>8080</proxyPort>
    <proxyServer>proxy.mydomain.com</proxyServer>
    <servername>localhost</servername>
    <enableSSL>false</enableSSL>
    <enablePortForward>false</enablePortForward>
    <sslPort>8181</sslPort>
    <enableRepositoryArchive>false</enableRepositoryArchive>
    <disableGroupingGrid>false</disableGroupingGrid>
    <dateFormat>Y-m-d H:i:s</dateFormat>
    <anonymousAccessEnabled>false</anonymousAccessEnabled>
</scm-config>
