<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2020 - present Cloudogu GmbH

    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU Affero General Public License as published by the Free
    Software Foundation, version 3.

    This program is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
    details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->

<!--
    Document   : logback.xml
    Created on : January 18, 2011, 5:46 PM
    Author     : sdorra
    Description:
        Purpose of the document follows.
-->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sonia.scm.store" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
