                  <!-- content end -->
                </div>
              </article>        
            </div>
            <div class="primary" id="sidebar">
              <ul class="xoxo">
                <li class="widget-container widget_recent_entries" id="recent-posts-3">
                  <h3 class="widget-title">Latest News</h3>
                  <ul>
                    <li><a title="Bamboo Plugin" href="http://www.scm-manager.org/plugins/bamboo-plugin/">Bamboo Plugin</a></li>
                    <li><a title="Jenkins and JIRA Plugin" href="http://www.scm-manager.org/plugins/jenkins-and-jira-plugin/">Jenkins and JIRA Plugin</a></li>
                    <li><a title="New Server Part 2" href="http://www.scm-manager.org/server/new-server-part-2/">New Server Part 2</a></li>
                  </ul>
                </li> 
                <li class="widget-container widget_links">
                  <h3 class="widget-title">Social</h3>
                  <div id="social4i" style="position: relative; display: block;">
                    <div class="socialicons" style="float:left;margin-right: 8px;">
                      <div style="float: left;" id="fb-root" class=" fb_reset">
                        <div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"></div>
                      </div>
                      <script src="http://connect.facebook.net/en_US/all.js#appId=221636557882194&amp;xfbml=1"></script>
                      <fb:like font="" show_faces="true" width="52" layout="box_count" send="false" href="http://www.scm-manager.org" class=" fb_edge_widget_with_comment fb_iframe_widget"></fb:like>
                    </div>
                    <div class="socialicons" style="float:left;margin-right: 8px;">
                      <div id="___plusone_0" style="height: 60px; width: 50px; display: inline-block; text-indent: 0pt; margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline;"><iframe width="100%" scrolling="no" frameborder="0" title="+1" vspace="0" tabindex="-1" style="position: static; left: 0pt; top: 0pt; width: 50px; margin: 0px; border-style: none; height: 60px; visibility: visible;" src="https://plusone.google.com/u/0/_/+1/fastbutton?url=http%3A%2F%2Fwww.scm-manager.org%2F&amp;size=tall&amp;count=true&amp;annotation=&amp;hl=en-US&amp;jsh=r%3Bgc%2F23803279-4555db52#id=I1_1315911840392&amp;parent=http%3A%2F%2Fwww.scm-manager.org&amp;rpctoken=169464098&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe" name="I1_1315911840392" marginwidth="0" marginheight="0" id="I1_1315911840392" hspace="0" allowtransparency="true"></iframe></div>
                    </div>
                    <div class="socialicons" style="float:left;margin-right: 8px;">
                      <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.html#_=1315911839879&amp;count=vertical&amp;id=twitter_tweet_button_0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.scm-manager.org%2F&amp;text=SCM-Manager%20%7C%20The%20easiest%20way%20to%20share%20your%20Git%2C%20Mercurial%20and%20Subversion%20repositories%20over%20http.&amp;url=http%3A%2F%2Fwww.scm-manager.org" class="twitter-share-button twitter-count-vertical" style="width: 55px; height: 62px;" title="Twitter For Websites: Tweet Button"></iframe><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                    </div>
                    <div style="clear: both;"></div>
                  </div>
                </li>

                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
                <li class="widget-container widget_links">
                  <h3 class="widget-title">Build and test</h3>
                  <a href="https://scm-manager.ci.cloudbees.com/">
                    <img alt="Cloudbees" src="http://static-www.cloudbees.com/images/badges/BuiltOnDEV.png">
                  </a>
                </li>
                <li class="widget-container widget_links">
                  <h3 class="widget-title">Donate</h3>
                  <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
                    <input type="hidden" value="_s-xclick" name="cmd">
                    <input type="hidden" value="GLUQJWKA7EPDE" name="hosted_button_id">
                    <input type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif">
                    <img width="1" height="1" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" alt="">
                  </form>
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer id="colophon">
        <div class="col-width">
          <div id="site-generator">
            <p>&copy; Sebastian Sdorra</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>