Package: [[name]]
Version: [[version]]
Section: devel
Priority: extra
Architecture: all
Description: The easiest way to share and manage your Git, Mercurial and Subversion repositories
Maintainer: SCM-Team <scm-team@cloudogu.com>
Homepage: https://scm-manager.org
Depends: adduser, procps, psmisc, net-tools
Recommends: openjdk-11-jre-headless, mercurial
