h1 { font-size: 18px; color: red; border-bottom: 1px solid gray; }
h2 { font-size: 16px; color: red; border-bottom: 1px solid gray; }
h3 { font-size: 16px; color: red; }

pre, table { margin-left: 20px; }

pre { border: 1px dashed gray; padding: 10px; background-color: #eee; }

table { border-collapse: collapse; width: 480px; border: 2px solid black; }
td, th { border: 1px solid black; padding: 3px; }
th { font-weight: normal; text-align: left; width: 80px; vertical-align: top; }