@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$blue: #33b2e8;
$mint: #11dfd0;

$info: $blue;

// $footer-background-color

.is-ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-rounded-border {
  border-radius: 0.25rem;
}

.is-full-width {
  width: 100%;
}

.fitParent {
  // TODO get rid of important
  margin: 0 !important;
  // 3.8em for line-numbers
  padding: 0 0 0 3.8em !important;
}

.is-word-break {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
}

.main {
  min-height: calc(100vh - 260px);
}

// shown in top section when pageactions set
hr.header-with-actions {
  margin-top: -10px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.is-mobile-create-button-spacing {
  @media screen and (max-width: 768px) {
    border: 2px solid #e9f7fd;
    padding: 1em 1em;
    margin-top: 0 !important;
    width: 100%;
    text-align: center !important;
  }
}

.footer {
  height: 50px;
}

// 6. Import the rest of Bulma
@import "bulma/bulma";
@import "bulma-tooltip/dist/css/bulma-tooltip";

// import at the end, because we need a lot of stuff from bulma/bulma
.box-link-shadow {
  &:hover,
  &:focus {
    box-shadow: $box-link-hover-shadow;
  }
  &:active {
    box-shadow: $box-link-active-shadow;
  }
}

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "webfonts";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

@import "react-diff-view/index";

// NEW STYLES

//typography
.subtitle {
  color: #666;
}
.has-border-white {
  border-color: #fff !important;
}
// buttons
.button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 2.5rem;

  &.is-primary {
    background-color: #00d1df;
  }
  &.is-primary:hover, &.is-primary.is-hovered {
    background-color: #00b9c6;
  }
  &.is-primary:active, &.is-primary.is-active {
    background-color: #00a1ac;
  }
  &.is-primary[disabled] {
    background-color: #40dde7;
  }
}

// multiline Columns
.columns.is-multiline {
  .column.is-half {
    width: calc(50% - 0.75rem);
    max-height: 120px;

    &:nth-child(odd) {
      margin-right: 1.5rem;
    }

    .overlay-half-column {
      position: absolute;
      height: calc(120px - 1.5rem);
      width: calc(50% - 3rem);
    }
  }
  .column.is-full {
    .overlay-full-column {
      position: absolute;
      height: calc(120px - 0.5rem);
      width: calc(100% - 1.5rem);
    }
  }
  @media screen and (max-width: 768px) {
    .column.is-half {
      width: 100%;

      &:nth-child(odd) {
        margin-right: 0;
      }

      .overlay-half-column{
        position: absolute;
        height: calc(120px - 0.5rem);
        width: calc(100% - 1.5rem);
      }
    }
  }
}

.text-box {
  width: calc(50% - 0.75rem);
  .shorten-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// tables
.table {
  width: 100%;
  td {
    border-color: #eee;
    padding: 1rem;
  }
}

// card tables
.card-table {
  border-collapse: separate;
  border-spacing: 0px 5px;

  tr {
    a {
      color: #363636;
    }
    &:hover {
      td {
        background-color: whitesmoke;
        &:nth-child(4) {
          background-color: #e1e1e1;
        }
      }
      a {
        color: $blue;
      }
    }
  }
  td {
    border-bottom: 1px solid whitesmoke;
    background-color: #fafafa;
    padding: 1em 1.25em;
    &:first-child {
      border-left: 3px solid $mint;
    }
    &:nth-child(4) {
      background-color: whitesmoke;
    }
  }
  &.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: whitesmoke;
  }
  thead th {
    background-color: transparent;
    border: none;
  }
}

// panels
.panel {
  .panel-heading > .field {
    margin-bottom: 0; // replace selector margin
  }
  .panel-block {
    display: block;
  }

  .panel-footer {
    background-color: whitesmoke;
    border-radius: 0 0 4px 4px;
    color: #363636;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25;
    padding: 0.5em 0.75em;

    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;

    &:last-child {
      border-bottom: 1px solid #dbdbdb;
    }
  }
}

// forms
form .field:not(.is-grouped) {
  margin-bottom: 1rem;
}
.input,
.textarea {
  /*background-color: whitesmoke;*/
  border-color: #98d8f3;
  box-shadow: none;
}

// label with help-icon compensation
.label-icon-spacing {
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}

// pagination
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 2.5rem;
}
.pagination-previous,
.pagination-next {
  min-width: 6.75em;
}

// dark hero colors
.hero.is-dark {
  background-color: #002e4b;
  background-image: url(../images/scmManagerHero.jpg);
  background-size: cover;
  background-position: top center;

  .tabs.is-boxed li.is-active a,
  .tabs.is-boxed li.is-active a:hover,
  .tabs.is-toggle li.is-active a,
  .tabs.is-toggle li.is-active a:hover {
    background-color: #28b1e8;
    border-color: #28b1e8;
    color: #fff;
  }
}

// footer
.footer {
  background-color: whitesmoke;
}

// sidebar menu
.aside-background {
  bottom: 0;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: whitesmoke;
}
.menu {
  div {
    height: 100%;
    /*border: 1px solid #eee;*/
    margin-bottom: 1rem;
  }
}

.menu-label {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  background-color: #bbb;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  text-transform: none;

  &:last-child,
  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.menu div:first-child .menu-label {
  background-color: $blue;
}
.menu-list {
  a {
    color: #333;
    padding: 1rem;

    &.is-active {
      color: $blue;
      background-color: #fff;
    }
  }

  > li {
    ul {
      margin: 0;
      border-top: 1px solid #eee;

      li {
        border-right: none;
      }
      li:last-child {
        border-bottom: none;
      }
    }

    > a.is-active:before {
      position: relative;
      content: " ";
      background: $blue;
      height: 53px;
      width: 2px;
      display: block;
      left: -17px;
      float: left;
      top: -16px;
    }

    border-radius: 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  > li:first-child {
    border-top: none;
  }
  li:last-child {
    border-bottom: 1px solid #eee;
  }
  div {
    margin-bottom: 0;
  }
}

// modal
.modal {
  .modal-card-foot {
    justify-content: flex-end; // pulled-right
  }
}

.sub-menu li {
  line-height: 1;

  a {
    padding: 0.75rem 1rem;
  }

  a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f105";
    padding-right: 5px;
  }

  i {
    display: none;
  }
}
