@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";


$blue: #33B2E8;

// $footer-background-color

.is-ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-rounded-border {
  border-radius: 0.25rem;
}

.is-full-width {
  width: 100%;
}

.fitParent {
  // TODO get rid of important
  margin: 0 !important;
  // 3.8em for line-numbers
  padding: 0 0 0 3.8em !important;
}

.main {
  min-height: calc(100vh - 260px);
}
.footer {
  height: 50px;
}

// 6. Import the rest of Bulma
@import "bulma/bulma";
@import "bulma-tooltip/dist/css/bulma-tooltip";

// import at the end, because we need a lot of stuff from bulma/bulma
.box-link-shadow {
  &:hover,
  &:focus {
    box-shadow: $box-link-hover-shadow;
  } 
  &:active {
    box-shadow: $box-link-active-shadow;
  }
}


@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "webfonts";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "react-diff-view/src/Change";
@import "react-diff-view/src/Diff";
@import "react-diff-view/src/Hunk";
@import "react-diff-view/src/Widget";
