<?xml version="1.0" encoding="UTF-8"?>
<!--

    MIT License

    Copyright (c) 2020-present Cloudogu GmbH and Contributors

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

-->
<!--
    Document   : logback.xml
    Created on : January 18, 2011, 5:46 PM
    Author     : sdorra
    Description:
        Purpose of the document follows.
-->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-10X{transaction_id}] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sonia.scm" level="TRACE" />
  <logger name="com.cloudogu.scm" level="TRACE" />

  <logger name="sonia.scm.store.CopyOnWrite" level="DEBUG" />
  <logger name="sonia.scm.security.AuthorizationCollector" level="DEBUG" />
  <logger name="sonia.scm.web.filter.AutoLoginFilter" level="DEBUG" />
  <logger name="sonia.scm.security.XsrfProtectionFilter" level="DEBUG" />
  <logger name="sonia.scm.schedule.CronTask" level="DEBUG" />

  <!-- suppress massive gzip logging -->
  <logger name="sonia.scm.filter.GZipFilter" level="WARN" />
  <logger name="sonia.scm.filter.GZipResponseStream" level="WARN" />

  <logger name="sonia.scm.util.ServiceUtil" level="WARN" />
  <logger name="sonia.scm.lifecycle.modules.ScmEventBusModule" level="DEBUG" />
  <logger name="sonia.scm.event.LegmanScmEventBus" level="DEBUG" />
  <logger name="sonia.scm.plugin.ext.DefaultAnnotationScanner" level="INFO" />
  <logger name="sonia.scm.security.ConfigurableLoginAttemptHandler" level="DEBUG" />

  <!-- cgi -->
  <logger name="sonia.scm.web.cgi.DefaultCGIExecutor" level="DEBUG" />

  <!-- shiro -->
  <logger name="org.apache.shiro" level="INFO" />
  <logger name="org.apache.shiro.authc.pam.ModularRealmAuthenticator" level="DEBUG" />

  <!-- svnkit -->
  <!--
  <logger name="svnkit" level="WARN" />
  <logger name="svnkit.network" level="DEBUG" />
  <logger name="svnkit.fsfs" level="WARN" />
  -->

  <!-- javahg -->
  <!--
  <logger name="org.javahg" level="DEBUG" />
  -->

  <!-- ehcache -->
  <!--
  <logger name="net.sf.ehcache" level="DEBUG" />
  -->

  <logger name="org.jboss.resteasy" level="INFO" />

  <logger name="sonia.scm.lifecycle.RestartServlet" level="TRACE" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
