{{< layout}}

  {{$title}}SCM-Manager Error{{/title}}

  {{$content}}
    <h2>There is an error occurred during SCM-Manager startup.</h2>

    <div class="notification is-danger">
      <pre>
        {{ error }}
      </pre>
    </div>
  {{/content}}
{{/ layout}}
