<!DOCTYPE html>
<html>
<head>
  <title>{{$title}}SCM-Manager{{/title}}</title>
  <link rel="stylesheet" type="text/css" href="{{ contextPath }}/assets/ui-theme-light.css">
  <link rel="shortcut icon" href="{{ contextPath }}/favicon.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="App">

  <section class="hero is-dark is-small">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column"><img src="{{ contextPath }}/images/logo.png" alt="SCM-Manager"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="main">
    <section class="section">
      <div class="container">
        <h1 class="title">{{$title}}SCM-Manager{{/title}}</h1>
        {{$content}}<!-- no content defined -->{{/content}}
      </div>
    </section>
  </div>

</div>
{{$script}}<!-- no script defined -->{{/script}}
</body>
</html>
