{{<layout}}

  {{$title}}SCM-Manager needs to be restarted{{/title}}

  {{$content}}
    <p class="notification is-warning">
      The migration is prepared and gets executed after SCM-Manager is restarted. <br/>
      Please restart your SCM-Manager instance.
    </p>
  {{/content}}

{{/layout}}
