{{<layout}}

  {{$title}}SCM-Manager needs to be restarted{{/title}}

  {{$content}}
    <p class="notification is-warning">
      The migration is prepared and gets executed after scm-manager is restarted. <br/>
      Please restart your scm-manager instance.
    </p>
  {{/content}}

{{/layout}}
