{{< layout}}

  {{$title}}SCM-Manager Error{{/title}}

  {{$content}}
    <h2 class="subtitle">An error occurred during SCM-Manager startup.</h2>

    <p class="notification is-danger" role="alert">
      We cannot migrate your SCM-Manager 1 installation,
      because the version is too old.<br />
      Please migrate to version 1.60 or newer, before migration to 2.x.
    </p>
  {{/content}}
{{/ layout}}
