<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : logback.xml
    Created on : May 14, 2011, 5:00 PM
    Author     : sdorra
    Description:
        Purpose of the document follows.
-->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sonia.scm.cli" level="ERROR" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>